html {
  box-sizing: border-box;
  font-family: "georgia";
  line-height: 1.5;
  background-color: #f5f2f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "col1   col2";
  gap: 1rem;
  margin: 1.5rem;
}
